@import 'compass';

* {
    margin: 0;
    padding: 0;
    @include box-sizing( border-box );
}

body {
    line-height: 1;
    font-family: 'GillSans-Light';
    font-weight: light;
}


#letters-container {
    width: 32000px;
    height: 500px;
    position: relative;
    top:0;
    @include transition( left 0.2s ease );
}

.letter-container {
    position: relative;
    display: block;
    float: left;
    width: 320px;
    height: 460px;
    @include perspective( 460px );
    div {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        text-align: center;
        @include transform-style( preserve-3d );
        @include backface-visibility( hidden );
        @include transition( transform 0.3s ease );
        &.letter {
            background: #fff;
            text-transform: uppercase;
            font-size: 20rem;
            margin-top: 40px;
            text-shadow: -1px 1px 2px rgba( #000, 0.4 );
            @include transform( rotateX( 0deg ) rotateY( 0deg ) );
        }
        &.image {
            @include transform( rotateY( -180deg ) );
        }
    }
    &.active {
        .letter {
            @include transform( rotateY( 180deg ) );
        }
        .image {
            @include transform( rotateX( 0deg ) rotateY( 0deg ) );
        }
    }
}
